/****************************************************************

************************* ELEMENT STYLES ************************

*****************************************************************/

button {
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px 15px 10px;
    min-width: 150px;
}

header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 40px;
    padding: 20px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
}

input:focus {
    outline: none;
}

li {
    /* margin: 10px;
    padding: 0px; */
    cursor: pointer;
    /* min-width: 200px; */
}

ul {
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

/* ID STYLES */

#enter-item {
    width: 20%;
}

#list-input {
    width: 80%;
    margin-bottom: 10px;
}

#title {
    font-size: 3em;
    font-weight: 800;
}

/****************************************************************

************************* CLASS STYLES **************************

*****************************************************************/

.empty-list {
    display: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 40px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 40px;
    padding: 40px;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100px;
}

.list-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-button {
    background-color: transparent;
    color: red;
    padding: 10px;
    min-width: 50px;
    border: none;
    cursor: pointer;
}

.strike-through {
    text-decoration: line-through;
}

/****************************************************************

************************* DARK MODE STYLES **********************

*****************************************************************/

.dark {
    background-color: rgb(29, 29, 29);
    color: white
}

.dark-button {
    background-color: rgb(145, 255, 0);
}

.dark-input {
    background-color: transparent;
    color:white;
    border: none;
    border-bottom: 2px solid rgb(145, 255, 0);
}

.dark-border {
    border: 2px solid white;
}

/****************************************************************

************************* LIGHT MODE STYLES **********************

*****************************************************************/

.light {
    background-color: rgb(252, 252, 252);
    color: rgb(0, 0, 0)
}

.light-button {
    background-color: rgb(0, 0, 0);
    color: white
}

.light-input {
    background-color: transparent;
    color:rgb(0, 0, 0);
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.light-border {
    border: 2px solid rgb(0, 0, 0);
}

/****************************************************************

************************* MEDIA SCREEN ONLY STYLES **************

*****************************************************************/

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 40px;
        padding: 40px;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .list-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}